table {
    border-collapse: collapse;
    background-color: #4d4c4c;
}

td, th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

th{
	background-color: #272525;
	color: #679665;
}

tr:hover{
    background-color: #BFEFFF;
}
