table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #A29471;
}


tr:hover {background-color: #c3ad;}